@charset "UTF-8";
body {
  font-family: 'Inter', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1277px;
  margin: 0 auto;
}

.registration-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration-img {
  width: 666px;
  padding: 64px 111px 420px 82px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/frame1.jpg);
  margin-bottom: -3px;
  position: relative;
}

.registration-img__logo {
  margin-bottom: 276px;
}

.registration-img__sqwer {
  position: absolute;
  top: 212px;
  left: 415px;
}

.registration-img__coma {
  position: absolute;
  top: 330px;
  left: 82px;
  color: #00DAF7;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
}

.registration-img__description {
  color: #ffffff;
}

.registration-img__description p {
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 22px;
}

.registration-img__description h3 {
  font: 18 400 "Inter", sans-serif;
}

.registration-img__ygol {
  position: absolute;
  top: 639px;
  left: 484px;
}

.registration-img__cirkl {
  position: absolute;
  top: 870px;
  left: 10px;
}

.registration-form {
  padding-top: 75px;
  padding-right: 47px;
  padding-bottom: 75px;
  padding-left: 45px;
  width: 771px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registration-form__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration-form__breadcrumbs svg {
  margin-right: 14px;
}

.registration-form__breadcrumbs div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8692a6;
  font-size: 16px;
  font-weight: 500;
}

.registration-form__breadcrumbs div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  font-weight: 500;
  color: #bdbdbd;
  text-transform: uppercase;
}

.registration-form__breadcrumbs div:nth-child(2) span:nth-child(2) {
  color: #8692a6;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 4px;
}

.registration-form__block {
  padding-top: 74px;
  padding-left: 64px;
  padding-bottom: 0;
  max-width: 426px;
}

.registration-form__title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

.registration-form__subtitle {
  font: 18 400 "Inter", sans-serif;
}

.registation-form__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registation-form__forms div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 24px;
  /* стилизация чекбокса */
  /* стилизация радио баттона */
}

.registation-form__forms div:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registation-form__forms div label {
  font-size: 16px;
  font-weight: 500;
  color: #696f79;
}

.registation-form__forms div input {
  margin-top: 24px;
  padding: 23px 0px 24px 30px;
  border-radius: 6px;
  border: 1px solid #8696a6;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  color: #494949;
}

.registation-form__forms div input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #8696a6;
}

.registation-form__forms div input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #8696a6;
}

.registation-form__forms div input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #8696a6;
}

.registation-form__forms div input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #8696a6;
}

.registation-form__forms div input:focus {
  border-color: #1565d8;
}

.registation-form__forms div input[type="checkbox"] {
  margin: 0 14px 0 0;
  background-color: red;
  width: 8px;
  height: 8px;
}

.registation-form__forms div .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.registation-form__forms div .custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.registation-form__forms div .custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5b;
  border-radius: 4px;
  margin-right: 14px;
  background-repeat: no-re;
  background-position: cen;
  background-size: 50% 50%;
}

.registation-form__forms div .custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.registation-form__forms div .button-blue, .registation-form__forms div .button-white {
  border-radius: 6px;
  border: 0;
  margin-bottom: 16px;
  padding: 24px 0;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-family: "Inter", sans-serif;
}

.registation-form__forms div .button-blue {
  background-color: #1565d8;
  color: #ffffff;
}

.registation-form__forms div .button-white {
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.registation-form__forms div .button-white img {
  position: absolute;
  left: 48px;
}

.registation-form__forms div span::before, .registation-form__forms div span::after {
  display: block;
  content: '';
  width: 172px;
  height: 1px;
  background-color: #f7f7f7;
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
}

.registation-form__forms div span {
  text-align: center;
  padding: 25px 0;
  font-size: 12px;
  color: #bababa;
  position: relative;
}

.registation-form__forms div span::before {
  left: 0;
}

.registation-form__forms div span::after {
  right: 0;
}
/*# sourceMappingURL=main.css.map */